# Dependencies
node_modules/
dist/

# Database
assets/*.sqlite

# Uploads
assets/uploads/
assets/test-uploads/

# Environment
.env

# IDE
.vscode/
.idea/

# Testing
coverage/
coverage*/
.jest/

# Logs
*.log
npm-debug.log*
