.strength-container {
  margin-top: 10px;
}

.strength-bar {
  display: flex;
  height: 10px;
  width: 100%;
  background-color: #eee;
  border-radius: 5px;
  overflow: hidden;
}

.strength-indicator {
  height: 100%;
  transition: width 0.5s ease, background-color 0.3s ease;

  &.red {
    background-color: #b81414;
  }
  &.orange {
    background-color: #c88508;
  }
  &.yellow {
    background-color: #caca12;
  }
  &.green {
    background-color: #066a06;
  }
}


.feedback {
  margin-top: 5px;
  font-size: 0.7em;
  .warning {
    color: red;
  }
  .suggestion {
    color: green;
  }
}

