<div class="strength-container">
    @if (!!passwordValidationResult) {
        <div class="strength-bar">
            <div class="strength-indicator"
                 [style.width.%]="(passwordValidationResult.score || 0) * 25"
                 [class.red]="passwordValidationResult.score === 1"
                 [class.orange]="passwordValidationResult.score === 2"
                 [class.yellow]="passwordValidationResult.score === 3"
                 [class.green]="passwordValidationResult.score === 4"></div>
        </div>
        <div class="feedback">
            @if (passwordValidationResult.warning) {
                <div class="warning">{{ passwordValidationResult.warning }}</div>
            }
            @if (passwordValidationResult.suggestions) {
                @for (suggestion of passwordValidationResult.suggestions; track suggestion) {
                    <div class="suggestion">{{ suggestion }}</div>
                }
            }
        </div>
    }
</div>
