:host {
  height: 80%;
  display: block;
}

.card {
  display: flex;
  flex-direction: column;
  max-width: 80%;
  height: 100%;
  margin: 20px auto;
  padding: 1.5rem;
  background: var(--white);
  border-radius: 8px;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.08);
}

.grid-wrapper {
  flex: 1 1 auto;
}