$success-color: #28a745;
$error-color: #dc3545;
$info-color: #17a2b8;
$warning-color: #c69919;
$text-color: #fff;

.toast-container {
  position: fixed;
  top: 50px;
  right: 20px;
  padding: 15px;
  border-radius: 5px;
  color: $text-color;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 250px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);

  &.toast-success {
    background-color: $success-color;
  }

  &.toast-error {
    background-color: $error-color;
  }

  &.toast-info {
    background-color: $info-color;
  }

  &.toast-warning {
    background-color: $warning-color;
  }
}

.toast-message {
  margin-right: 15px;
}

.toast-close-btn {
  background: none;
  border: none;
  color: $text-color;
  font-size: 20px;
  cursor: pointer;
}

