<div class="container">
    <h2>Sign Up</h2>
    <form [formGroup]="signupForm" (ngSubmit)="submit()" novalidate>
        <div class="form-group">
            <label for="username">Username <span class="required-asterisk"
                    [class.error]="signupForm.get('username')?.touched && signupForm.get('username')?.invalid">*</span></label>
            <input id="username" type="text" formControlName="username" autocomplete="username"
                   [class.error]="signupForm.get('username')?.touched && signupForm.get('username')?.invalid"/>
            @if (signupForm.get('username')?.touched && signupForm.get('username')?.invalid) {
                <div class="error">Username is required.</div>
            }
            @if (usernameSuggestions().length) {
                <div class="username-suggestions">
                    <span>Available:&nbsp;</span>
                    <b>{{usernameSuggestions().join(', ')}}.
                    </b>
                </div>
            }
        </div>
        <div class="form-group">
            <label for="displayName">Display Name (optional)</label>
            <input id="displayName" type="text" formControlName="displayName" autocomplete="name"/>
        </div>
        <div class="form-group">
            <label for="password">Password <span class="required-asterisk"
                    [class.error]="signupForm.get('password')?.touched && signupForm.get('password')?.invalid">*</span></label>
            <input id="password" type="password" formControlName="password" autocomplete="new-password"
                   [class.error]="signupForm.get('password')?.touched && signupForm.get('password')?.invalid"/>
            <app-password-strength [passwordValidationResult]="passwordValidationResult"></app-password-strength>
        </div>
        <div class="form-group">
            <label for="birthdate">Birthdate (optional)</label>
            <input id="birthdate" type="date" formControlName="birthdate"
                   [class.error]="signupForm.get('birthdate')?.touched && signupForm.get('birthdate')?.invalid"/>
            @if (signupForm.get('birthdate')?.touched && signupForm.get('birthdate')?.invalid) {
                <div class="error">Please enter a valid birthdate (not in the future).</div>
            }
        </div>
        <div class="form-group">
            <label for="gender">Gender (optional)</label>
            <select id="gender" formControlName="gender">
                <option value="">Select Gender</option>
                @for (gender of GENDERS_LIST; track gender) {
                    <option [value]="gender">{{ gender }}</option>
                }
            </select>
        </div>
        <button type="submit" [disabled]="loading || signupForm.invalid">Sign Up</button>
    </form>
    <div class="footer-card">
        Already have an account? <a routerLink="/login">Login</a>
    </div>
</div>
